.Rhistory
.git
.gitignore
manifest.json
rsconnect/
.Rproj.user
*.Rproj
algunas_imagenes/*
codigos/*
!codigos/definicion_cartografia_demografia.R
!codigos/definicion_custom_markers.R
!codigos/extras_css.R
!codigos/funciones.R
!codigos/moduleTabInfraestructura.R
!codigos/moduleTabStats.R
!codigos/SIGEH_isochrone.R
documentacion/*
inputs/*
!inputs/accesibilidad_SIGEH/accesibilidad_*
!inputs/rasters/*
outputs/*
!outputs/confidenciales/clues_SINERHIAS_int.zip
!outputs/confidenciales/clues_SINERHIAS_int.sqlite
!outputs/confidenciales/Nota.txt
!outputs/demograficos_con_info_accesibilidad.geojson
!outputs/Diccionarios/*