.Rproj.user
inputs/*
!inputs/rasters
!inputs/accesibilidad_SIGEH/
.R*
codigos/deprecated/token_mapbox.R
codigos/deprecated/conexion_supabase.R
rsconnect/*
.positai
outputs/confidenciales/*
outputs/isocronas_pre_calculadas/*
!outputs/confidenciales/Nota.txt
!outputs/confidenciales/*zip
